*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    position:relative;

}

.premium {
    position: relative;
    top: 0;
    right: 0;
    color: #fff;
    border: none;
    outline: none;
    padding: 9px 18px;
    background:  #478ad2;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}

#premiumbutton:hover {
    background-color: #102475; /* Darker blue on hover */
}

.daily-expenses{
    width: 100%;
    max-width: 950px;
    background: #ffff;
    margin: 10px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;


}

.daily-expenses h2{
    color:  #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.daily-expenses h2 img{
    width: 30px;
    margin-left: 10px;  
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding-left: 15px;
    margin-bottom: 25px;
}

input, select{
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

form{
    display: flex;
    flex-direction: row;
}

.input-group{
    margin-bottom: 15px;
}

.add-button{
    border: none;
    outline: none;
    padding: 13px 48px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;

    
}
#addbutton:hover {
    background-color: #f70d0d; /* Darker blue on hover */
}


ul li{
    list-style: none;
    font-size:17px ;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content:'';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /* background-image: url(../images/unchecked.png); */
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}

.delete-button{
    border: none;
    outline: none;
    padding: 9px 18px;
    background: #85807f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    
}

.delete-button:hover {
    background-color: #060914; /* Darker blue on hover */
}